body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

.form-control {
	border-radius: 0;
	border: 1px solid #D9DEE4;
}

.form-control:focus {
	box-shadow: none;
	border: 1px solid #D9DEE4;
}