#main {
	height: 100%;
}

#main > .vertical-middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.dashboard.grid .column {
	padding: 0px;
}

.ui.list {
	margin: 0px;
}

.ui.list a {
	display: block;
	line-height: 2em;
	padding-left: 20px;
}

.ui.list a:hover {
	background-color: blue;
	color: white;
}

.ui.grid.dashboard {
	margin-top: 0px;
	margin-bottom: 20px;
}