.right_col {
	padding-top: 50px !important;
}

nav {
	background: #EDEDED;
	border-bottom: 1px solid #D9DEE4;

	.toggle-menu {
		float: left;
		cursor: pointer;
		display: inline-block;
		padding: 6px 20px;
		font-size: 26px;
	}

	.toggle-menu:hover {
		color: #5A738E;
	}
}