<div class="site-title" ng-click="$root.sidebarHidden = !$root.sidebarHidden">
	<i class="fa fa-bars"></i> <span ng-hide="$root.sidebarHidden">Customer Support</span>
</div>

<br />

<input ng-hide="$root.sidebarHidden" type="text" class="form-control" placeholder="Search all customers..." ng-model="searchCustomer" />

<br />

<h3 ng-hide="$root.sidebarHidden" class="menu-title">Customer Groups</h3>

<!-- Sidebar Menu -->
<ul ng-hide="$root.sidebarHidden" ng-if="!searchCustomer.length" class="nav side-menu">
	<li ng-repeat="customer in focusCustomers" ng-click="setFilter('Customer', customer | capitalize)"><a>{{customer | capitalize}}</a></li>
</ul>

<ul ng-hide="$root.sidebarHidden" ng-if="searchCustomer.length" class="nav side-menu">
  <li ng-repeat="customer in customers"
      ng-if="customer.key.indexOf(searchCustomer.toLowerCase()) != -1"
      ng-click="setFilter('Customer', customer.key | capitalize)"><a>{{customer.key | capitalize}}</a></li>
</ul>
<!-- /Sidebar Menu -->