<div class="site-title">
	<i class="fa fa-paw"></i> <span>Customer Support</span>
</div>

<br />

<input type="text" class="form-control" placeholder="Search all customers..." ng-model="searchCustomer" />

<br />

<h3 class="menu-title">Quick Pick</h3>

<!-- Sidebar Menu -->
<ul ng-if="!searchCustomer.length" class="nav side-menu">
	<li ng-repeat="customer in focusCustomers" ng-click="setFilter('Customer', customer)"><a>{{customer}}</a></li>
</ul>

<ul ng-if="searchCustomer.length" class="nav side-menu">
  <li ng-repeat="customer in customers"
      ng-if="customer.key.indexOf(searchCustomer.toLowerCase()) != -1"
      ng-click="setFilter('Customer', customer.key)"><a>{{customer.key}}</a></li>
</ul>
<!-- /Sidebar Menu -->