<div class="row tile-row">
  <div class="col-md-4 col-sm-6 col-xs-9 tile">
    <span class="count_top"><i class="fa fa-user"></i> Customer</span>
    <div class="info_piece">{{ getFilter('Customer')[0] || "All Customers" }}</div>
  </div>

<!--   <div class="col-md-3 col-sm-6 col-xs-9 tile">
  <span class="count_top"><i class="fa fa-user"></i> Mananger Name</span>
  <div class="info_piece">George Lukas</div>
</div>

<div class="col-md-2 col-sm-4 col-xs-6 tile">
  <span class="count_top"><i class="fa fa-user"></i> Number of properties</span>
  <div class="count">15</div>
</div> -->

  <div class="col-md-4 col-sm-4 col-xs-6 tile">
    <span class="count_top"><b>#</b> of Customer's Tickets</span>
    <div class="count">{{ matchingCount }}</div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-6 tile">
    <span class="count_top"><i class="fa fa-clock-o"></i> Avg Days to Resolve</span>
    <div class="count">{{ avgDaysToResolved | number:1 }}</div>
  </div>

</div>