<nav  class="navbar-fixed-top">
  <div class="toggle-menu" ng-click="$root.sidebarHidden = !$root.sidebarHidden">
    <i class="fa fa-bars"></i>
  </div>

  <span ng-repeat="(field, values) in filters">
    <span ng-repeat="value in values">
      <div class="filter">
        {{ field }}: {{value}} <img src="../images/cross.svg" class="delete-icon" ng-click="removeFilter(field, value)" />
      </div>

      <span ng-if="$last == false" class="or-filter"></span>
    </span>

    <span ng-if="$last == false" class="and-filter"></span>
  </span>

  <!-- <span class="or-filter"></span> -->

  <!-- <div class="filter">
    Region: North America <img src="../images/cross.svg" class="delete-icon" />
  </div> -->
</nav>