<div class="ui grid dashboard" ng-controller="MainController">

	<div class="five wide column">
		<div class="ui centered fluid card">
			<div class="content">
				<h2 class="header">
					<i class="user icon"></i> Customer Details
				</h2>

				<div class="description">
					E-mail: hitlon@test.com
				</div>
			</div>
		</div>
	</div>

	<div class="six wide column">
		<div class="ui centered fluid card" ng-controller="ProjectFilterController">
			<div class="content">
				<h2 class="header">
					<i class="briefcase icon"></i> Project Filter
				</h2>
			</div>

			<div class="ui list">
				<div ng-repeat="project in projects">
					<a>{{project.key}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="five wide column">
		<div class="ui centered fluid card" ng-controller="RegionFilterController">
			<div class="content">
				<h2 class="header">
					<i class="globe icon"></i> Region Filter
				</h2>
			</div>

			<div class="ui list">
				<div ng-repeat="region in regions">
					<a data-region="{{region.key}}">{{region.key | capitalize}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sixteen wide column">
		<table class="ui celled table">
			<thead>
			<tr>
				<th>FormattedID</th>
				<th>Client Name</th>
				<th>BIDNum</th>
				<th>Salesforce Priority</th>
				<th>Case Number</th>
				<th>Ticket Name</th>
				<th>L3 Kanban Stage</th>
			</tr>
			</thead>

			<tbody>
			<tr ng-repeat="hit in hits">
				<!-- <td ng-repeat="(field, val) in hit._source">{{field}} {{val || "null"}}</td> -->

				<td>{{hit._source.Story.ID}}</td> <!-- TODO: change to formatted id -->
				<td>{{hit._source.Customer}}</td>
				<td>TODO</td>
				<td>{{hit._source.SalesforcePriority}}</td>
				<td>{{hit._source.SalesforceCase || "N/A"}}</td>
				<td>{{hit._source.Story.Name}}</td>
				<td>{{hit._source.L3KanbanStage}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>