<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="dashboard_graph">

        <div class="row x_title">
            <h3>L3 Kanban States <small>by number of tickets</small></h3>
        </div>

        <div class="x_content">
            <canvas height="150" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
    </div>

</div>