<div class="panel" ng-class="{closed: closed}">
	<div class="panel-title">
		<h2>Projects</h2>
				
		<div class="panel_toolbox">
			<a class="collapse-link" ng-click="collapsed = !collapsed">
				<i class="fa {{collapsed ? 'fa-chevron-down' : 'fa-chevron-up' }}"></i>
			</a>
			<a class="close-link" ng-click="closed = !closed"><i class="fa fa-close"></i></a>
		</div>
	</div>

	<div class="panel-content" ng-class="{collapsed: collapsed}">
		<fieldset>
			<div>
				<input type="checkbox" name="dateperiod" id="project1" ng-checked="{{ hasFilter('UnderProject', 'CMDAS') }}" />
				<label for="project1" ng-click="toggleFilter('UnderProject', 'CMDAS')">Channel Management Development and Adapter Support</label>
			</div>

			<div>
				<input type="checkbox" name="dateperiod" id="project2" ng-checked="{{ hasFilter('UnderProject', 'iHotelier') }}" />
				<label for="project2" ng-click="toggleFilter('UnderProject', 'iHotelier')">iHotelier</label>
			</div>
		</fieldset>
	</div>
</div>