<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Regions</h2>

        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
            <table class="table-list" width="80%">
              <tbody>
                <tr ng-click="addFilter('Region', region.key)" ng-repeat="region in regions">
                  <td>{{region.key}}</td>
                  <td class="fs15 fw700 text-right">{{region.doc_count | number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>