<div class="panel" ng-class="{closed: closed}">

	<div class="panel-title">
		<h3>Status</h3>

		<div class="panel_toolbox">
			<a class="collapse-link" ng-click="collapsed = !collapsed">
				<i class="fa {{collapsed ? 'fa-chevron-down' : 'fa-chevron-up' }}"></i>
			</a>
			<a class="close-link" ng-click="closed = !closed"><i class="fa fa-close"></i></a>
		</div>
	</div>

	<div class="panel-content" ng-class="{collapsed: collapsed}">
	<table>
		<tr>
			<td>
				<canvas
					height="220"
					class="chart chart-pie linked"
					chart-click="statusFilter"
					chart-hover="chartHoverPointer"
					chart-colors="colors"
					chart-data="data"
					chart-labels="labels"
					chart-dataset-override="dataset">
				</canvas>
			</td>
			<td>
				<ul class="chart-legends">
					<li ng-repeat="label in labels">
						<div class="color-box" ng-style="{'background-color': colors[$index]}"></div>{{ label }}
					</li>
				</ul>
			</td>
		</tr>
	</table>
	</div>

</div>