<div class="panel">
	<div class="panel-title">
		<h2>Customer Tickets filtered by:</h2>
	</div>

	<br /><br />

	
	<div class="filters clearfix">
		<div ng-repeat="(field, values) in filters"
			 class="filter-group">

			<div class="legend">{{ field }}</div>

			<div ng-repeat="value in values" class="filter-values">
				<div class="filter">
					{{value}}
					<img src="../images/cross.svg" class="delete-icon" ng-click="removeFilter(field, value)" />
				</div>
			</div>

		</div>

		<div class="no-filters" ng-if="!hasFilters()">No filters selected</div>
	</div>

	<a ng-click="exportCSV">Export as CSV</a>

	<table class="table table-striped jambo_table bulk_action">
		<thead>
		<tr class="headings">
			<th class="column-title">FormattedID</th>
			<th class="column-title">Customer</th>
			<th class="column-title">Project</th>
			<th class="column-title">Region</th>
			<th class="column-title">Created</th>
			<th class="column-title">Priority</th>
			<th style="white-space: nowrap;" class="column-title">Case #</th>
			<th class="column-title">Ticket Name</th>
			<th class="column-title">Kanban Stage</th>
		</tr>
		</thead>
	
		<tbody>
		<tr ng-repeat="hit in hits">
			<!-- <td ng-repeat="(field, val) in hit._source">{{field}} {{val || "null"}}</td> -->
	
			<td>{{hit._source.Story.FormattedID}}</td> <!-- TODO: change to formatted id -->
			<td>{{hit._source.Customer}}</td>
			<td style="white-space: nowrap;">{{hit._source.Project.Name}}</td>
			<td style="white-space: nowrap;">{{hit._source.Region}}</td>
			<td style="white-space: nowrap;">{{hit._source.CreationDate}}</td>
			<td>{{hit._source.SalesforcePriority}}</td>
			<td>{{hit._source.SalesforceCase || "N/A"}}</td>
			<td>{{hit._source.Story.Name}}</td>
			<td style="white-space: nowrap;">{{hit._source.L3KanbanStage}}</td>
		</tr>
		</tbody>
	</table>
</div>