<div class="panel">
	<div class="panel-title">
		<h2>Customer Tickets <small>(matching the selected filters)</small></h2>
	</div>

	<table class="table table-striped jambo_table bulk_action">
		<thead>
		<tr class="headings">
			<th class="column-title">FormattedID</th>
			<th class="column-title">Client Name</th>
			<th class="column-title">Project</th>
			<th class="column-title">Region</th>
			<th class="column-title">Created</th>
			<th class="column-title">Salesforce Priority</th>
			<th class="column-title">Case Number</th>
			<th class="column-title">Ticket Name</th>
			<th class="column-title">Kanban Stage</th>
		</tr>
		</thead>
	
		<tbody>
		<tr ng-repeat="hit in hits">
			<!-- <td ng-repeat="(field, val) in hit._source">{{field}} {{val || "null"}}</td> -->
	
			<td>{{hit._source.Story.FormattedID}}</td> <!-- TODO: change to formatted id -->
			<td>{{hit._source.Customer}}</td>
			<td style="white-space: nowrap;">{{hit._source.Project.Name}}</td>
			<td style="white-space: nowrap;">{{hit._source.Region}}</td>
			<td style="white-space: nowrap;">{{hit._source.CreationDate}}</td>
			<td>{{hit._source.SalesforcePriority}}</td>
			<td>{{hit._source.SalesforceCase || "N/A"}}</td>
			<td>{{hit._source.Story.Name}}</td>
			<td style="white-space: nowrap;">{{hit._source.L3KanbanStage}}</td>
		</tr>
		</tbody>
	</table>
</div>