<div class="panel" ng-class="{closed: closed}">
	<div class="panel-title">
		<h2>Timeframe</h2>
				
		<div class="panel_toolbox">
			<a class="collapse-link" ng-click="collapsed = !collapsed">
				<i class="fa {{collapsed ? 'fa-chevron-down' : 'fa-chevron-up' }}"></i>
			</a>
			<a class="close-link" ng-click="closed = !closed"><i class="fa fa-close"></i></a>
		</div>

		<div class="clearfix"></div>
	</div>

	<div class="panel-content" ng-class="{collapsed: collapsed}">
		<fieldset>
			<div>
				<input type="radio" name="dateperiod" id="date1" ng-checked="!hasFilter('Timeframe')">
				<label for="date1" ng-click="removeFilter('Timeframe')">All time</label>
			</div>

			<div>
				<input type="radio" name="dateperiod" id="date2" ng-checked="hasFilter('Timeframe', 'thisweek')">
				<label for="date2" ng-click="setFilter('Timeframe', 'thisweek')">This week</label>
			</div>

			<div>
				<input type="radio" name="dateperiod" id="date3" ng-checked="hasFilter('Timeframe', 'lastweek')">
				<label for="date3" ng-click="setFilter('Timeframe', 'lastweek')">Last week</label>
			</div>
			
			<div>
				<input type="radio" name="dateperiod" id="date4" ng-checked="hasFilter('Timeframe', 'thismonth')">
				<label for="date4" ng-click="setFilter('Timeframe', 'thismonth')">This month</label>
			</div>
			
			<div>
				<input type="radio" name="dateperiod" id="date5" ng-checked="hasFilter('Timeframe', 'lastmonth')">
				<label for="date5" ng-click="setFilter('Timeframe', 'lastmonth')">Last month</label>
			</div>
		</fieldset>
	</div>
</div>